<!--
  Generated template for the FeedDetalhesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Detalhes do Filme</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    
  <ion-card *ngIf="movie">

    <img src="{{ movie_img_base_path + movie.backdrop_path }}"/>

    <ion-card-content>
      <ion-card-title>
        {{ movie.title }}
      </ion-card-title>
      <p> {{ movie.overview }} </p>
    </ion-card-content>

    <ion-item>
      <ion-icon name="ios-recording-outline" item-start></ion-icon>
      Generos
      <!-- <ion-badge item-end>260k</ion-badge> -->
    </ion-item>
    <ion-row col-auto >
      <ion-col>
        <button *ngFor="let genero of generos" ion-button danger round small>{{ genero.name }}</button>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-range min="0" max="100" [(ngModel)]="saturation" color="secondary"></ion-range>
      <ion-badge item-end>{{ movie.vote_count }}</ion-badge>
    </ion-item>
    
    <circle-progress
    [percent]= movie.vote_average
    [radius]="50"
    [units]="Rate"
    [showUnits]="true"
    [showTitle]="true"
    [showSubtitle] ="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="false"
    [animationDuration]="300"
    ></circle-progress>
  </ion-card>


</ion-content>
